@media screen and (max-width: 480px) {
    /* Header */
    nav{
        display: none;
    }
    .hambu-menu{
        display: block;
    }
    /* Demo Application Section / First Section */
    .demo-application .row.d-flex{
        flex-direction: column;
    }
    .demo-application > .big-container{
        max-width: 480px;
    }
    .demo-application .row.d-flex .big-card,
    .demo-application .row.d-flex .card
    {
        width: 100%;
    }
    .demo-application{
        height: 100%;
    }
    /* App Development Section / Second Section */
    .app-development .row{
        flex-direction: column;
    }
    .app-development .card{
        width: 100%;
    }
    .app-development{
        height: 100%;
    }
}