/* General */
header{
    background-color: #0084fd;
}
ul{
    list-style: none;
}

/* Header */
.all-header{
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
}
.header-right ul > li{
    display: inline-block;
}
.hambu-menu{
    display: none;
}
/* Main */
/* Demo Application Section */
.demo-application{
    height: calc(100vh - 73.5px);
}
.demo-application .row{
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 50px 0;
}
.demo-application .big-card{
    width: calc(100% * 2 / 3 - 20px);
    height: 350px;
    border: 1px solid black;
    border-radius: 20px;
}
.demo-application .card{
    width: calc(100% / 3 - 20px);
    height: 350px;
    border: 1px solid black;
    border-radius: 20px;
}

/* App Development Section / Second Section */
.app-development{
    background-color: #9792e4;
    height: 100vh;
}
.app-development .row{
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
}
.app-development .card{
    width: calc(100% / 2 - 20px);
    height: 600px;
    border: 1px solid black;
    border-radius: 20px;
}
.app-development .mini-card{
    width: 100%;
    height: 450px;
    border: 1px solid white;
    border-radius: 20px;
    align-self: flex-end;
}

/* Testimonials / Third Section */
.testimonial .row{
    flex-direction: column;
    gap: 20px;
    padding: 4rem 0;
}
.testimonial .card{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
}
.testimonial .content-text{
    text-align: center;
    margin-top: 40px;
}
.testimonial .content-text > h3{
    color: #99c1ea;
    font-size: 3rem;
    margin: 20px 0;
}
.testimonial .content-text > p{
    font-size: 1.25rem;
}