/* General */
header{
    background-color: #0084fd;
}
ul{
    list-style: none;
}

/* Header */
.all-header{
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
}
.header-right ul > li{
    display: inline-block;
}

/* Main */
/* Demo Application Section */
.row{
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}
.big-card{
    width: calc(66% - 10px);
    height: 200px;
    border: 1px solid black;
}
.card{
    width: calc(33% - 10px);
    height: 200px;
    border: 1px solid black;
}