/* General */
header{
    background-color: #0084fd;
}
ul{
    list-style: none;
}

/* Header */
.all-header{
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
}
.header-right ul > li{
    display: inline-block;
}

/* Main */
/* Demo Application Section */
.demo-application{
    height: calc(100vh - 73.5px);
}
.row{
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding-top: 20px;
}
.big-card{
    width: 66%;
    height: 350px;
    border: 1px solid black;
    border-radius: 20px;
}
.card{
    width: calc(33% - 10px);
    height: 350px;
    border: 1px solid black;
    border-radius: 20px;
}