@media screen  and (max-width: 768px){
    /* Header */
    nav{
        display: none;
    }
    .hambu-menu{
        display: block;
    }
    /* Demo Application Section / First Section */
    .demo-application{
        height: 100%;
    }
    .demo-application > .big-container{
        max-width: 738px;
    }
    .demo-application .big-card{
        flex-direction: column;
    }
    .demo-application .big-card.left.d-flex{
        width: 100%;
        gap: 1rem;
        padding-top: 1.5rem;
    }
    .demo-application .big-card.right.d-flex{
        flex-direction: row;
    }
    /* App Development Section / Second Section */
    .app-development{
        height: 100%;
    }
    .app-development .row{
        flex-direction: column;
        align-items: center;
    }
    .app-development .card{
        width: 100%;
    }
    /* Testimonials / Third Section */
    .testimonial .card.d-flex .card-left{
        flex-basis: 120%;
    }
    /* Benefits / Fourth */
    .benefit .card{
        width: calc(50% - 20px);
    }
    /* About Us / Fifth Section */
    .about-us .card.right a{
        padding: 5px 10px;

    }
    .about-us h4{
        font-size: 1.5rem;
    }
}