@media screen  and (max-width: 768px){
    /* Header */
    nav{
        display: none;
    }
    .hambu-menu{
        display: block;
    }
    /* Demo Application Section / First Section */
    .demo-application{
        height: 100%;
    }
    .demo-application > .big-container{
        max-width: 738px;
    }
    /* App Development Section / Second Section */
    .app-development{
        height: 100%;
    }
    /* Benefits / Fourth */
    .benefit .card{
        width: calc(100% / 2 - 20px);
}