/* Utils */

.big-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
}
.normal-container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 30px;
}
.medium-container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 30px;
}
.clearfix::after {
	content: '';
	clear: both;
	display: table;
}
.d-flex{
    display: flex;
}